[user]
	email = andrzej.rehmann@gmail.com
	name = Andrzej Rehmann
	signingkey = 2660329C72C9CCAA09212B6F9DDF5E06DDDC88A0
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -S
	autocrlf = input
[fetch]
    prune = true
[alias]
  c = checkout
  d = difftool
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold magenta)%an%Creset %Cgreen%cr' --abbrev-commit 
  log1h = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold magenta)%an%Creset %Cgreen%cr' --abbrev-commit --since='1 hours ago'
  log2h = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold magenta)%an%Creset %Cgreen%cr' --abbrev-commit --since='2 hours ago'
  log8h = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold magenta)%an%Creset %Cgreen%cr' --abbrev-commit --since='8 hours ago'
  log24h = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold magenta)%an%Creset %Cgreen%cr' --abbrev-commit --since='24 hours ago'
  log48h = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold magenta)%an%Creset %Cgreen%cr' --abbrev-commit --since='48 hours ago'
  log72h = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold magenta)%an%Creset %Cgreen%cr' --abbrev-commit --since='72 hours ago'

[credential]
	helper = cache --timeout=6048000

[diff]
  tool = vimdiff
  compactionHeuristic = true

[difftool]
  prompt = false
  trustExitCode = true

[branch]
  sort=-committerdate
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[pull]
	rebase = false
