*
!.gitignore
!README.md
!LICENSE.txt

# BASHRC AND SCRIPTS FOR IT
!.bashrc
!.bash/
!.bash/*
!.bash/**

# VIM
!.vimrc
!.vim/
!.vim/*
.vim/.netrwhist

# REDSHIFT (SCREEN DIMMER)
!.config/
!.config/redshift.conf

# SCREEN
!.screenrc
