*
!.gitignore
!README.md
!LICENSE.txt

# BASHRC AND SCRIPTS FOR IT
!.bashrc
!.bash/
!.bash/*
!.bash/**

# VIM
!.vimrc
!.vim
!.vim/
!.vim/plugin
!.vim/plugin/
!.vim/plugin/**
!.vim/*
!.vim/**
.vim/bundle
.vim/.netrwhist

# REDSHIFT (SCREEN DIMMER)
!.config/
!.config/redshift.conf

# SCREEN
!.screenrc

!.inputrc

# GNOME TERMINAL (UBUNTU)
!.gconf
!.gconf/
!.gconf/*
!.gconf/**
!.gconf/**/*
