"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "tidy-markdown"
      "markdown-preview"
    ]
    telemetryConsent: "limited"
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "4af8475c-e628-e8d1-6f1f-795f3f64b65c"
  "file-types":
    conf: "source.ruby"
    ini: "source.ruby"
    service: "source.ruby"
    tmpl: "source.ruby"
  "find-and-replace":
    closeFindPanelAfterSearch: true
    openProjectFindResultsInRightPane: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
