"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "markdown-preview"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "4af8475c-e628-e8d1-6f1f-795f3f64b65c"
  "file-types":
  #https://atom.io/packages/file-types, ctrl+shift+i console.log(Object.keys(atom.grammars.grammarsByScopeName).sort().join("\n"))
    conf: "source.ruby",
    tmpl: "source.ruby",
    service: "source.ruby"
    ini: "source.ruby"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
